.md-content{
    min-width: 63%;
}

.md-typeset h1{
    color: black;
    font-weight: bold;
}

.md-typeset .highlight {
    overflow-x: auto; 
    white-space: pre-wrap; 
}

.md-typeset h2{
    color: black;
    font-weight: 500;
}

.md-typeset pre code {
    white-space: pre-wrap;
    word-break: break-word;
    /* 不要使用 background: unset 或 color: unset */
}

ul {
    list-style-type: disc; 
    margin-left: 20px; 
    padding-left: 20px;
}

.md-typeset ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 20px;
}

.md-typeset ul li::marker {
    color: var(--md-default-fg-color);
    font-size: 1em;
}

.md-typeset ul li {
    margin-bottom: 0.5em;
}


figcaption {
    font-style: normal !important;
    margin-top: 8px;
    text-align: center;
}