.md-header__title {
    font-size: 24px; 
}

/* 响应式标题样式 */
@media screen and (max-width: 76.1875em) {
    .md-header__title {
        font-size: 20px;
    }
}

/* 手机端标题样式 */
@media screen and (max-width: 600px) {
    .md-header__title {
        font-size: 18px;
    }
    
    /* 优化手机端标题栏 */
    .md-header-nav__button.md-logo {
        padding: 0.2rem;
    }
    
    .md-header-nav__button {
        margin: 0.2rem;
    }
}